<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".PocketAiApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_monochrome"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketAi"
        tools:targetApi="33">


        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PocketAi"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="33">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.PluginHubActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PocketAi"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".activity.SetupActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PocketAi"
            android:windowSoftInputMode="adjustResize">

        </activity>


        <activity
            android:name=".activity.GgufPickerActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PocketAi"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".activity.UserDataActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PocketAi"
            android:windowSoftInputMode="adjustResize">

        </activity>


        <activity
            android:name=".activity.ModelPropEditorActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PocketAi"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".activity.ModelLoadingActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PocketAi"
            android:windowSoftInputMode="adjustResize">

        </activity>


        <activity
            android:name=".activity.ModelActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PocketAi"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".activity.DatahubActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PocketAi"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".activity.TempActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PocketAi"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".activity.LoggerActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PocketAi"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".activity.ScrapActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PocketAi"
            android:windowSoftInputMode="adjustResize">

        </activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <service
            android:name="com.nxg.ai_engine.service.ModelOperatorService"
            tools:replace="android:exported"
            android:exported="false"
            android:process=":model_service"
            android:foregroundServiceType="dataSync"
            android:permission="android.permission.FOREGROUND_SERVICE_DATA_SYNC"
            android:stopWithTask="false">
            <meta-data
                android:name="android.service.action.FOREGROUND_SERVICE"
                android:value="true" />
        </service>

        <service
            android:name="com.nxg.ai_engine.service.ModelDownloadService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:label="Model Download Service">

            <!-- Optional: Service metadata -->
            <meta-data
                android:name="android.service.action.FOREGROUND_SERVICE"
                android:value="true" />
        </service>

    </application>

</manifest>